<!--suppress ALL -->
<div class="alert-box">
    <div class="modal-header">
        <h4 class="modal-title">Data producer edit</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form novalidate
              [formGroup]="myform">

            <div class="form-group">
                <label>Name</label>
                <input type="text"
                       class="form-control"
                       formControlName="name">
            </div>

            <div class="form-group">
                <label>Source</label>
                <select class="form-control"
                        formControlName="source">
                    <option *ngFor="let source of sources"
                            [value]="source">{{source}}
                    </option>
                </select>
            </div>

            <div formArrayName="filters">
                <label>Filters</label>
                <div *ngFor="let filter of myform.controls.filters.controls; let i=index">
                    <div class="panel panel-default" formGroupName="{{i}}">
                        <div class="panel-heading">
                            <div class=" form-group">
                                <label>Type</label>
                                <div class="form-inline">
                                    <input class="form-control" readonly type="text" formControlName="type"
                                           #paramsType>
                                    <button type="button" class="btn btn-default" (click)="removeFilter(i);">X
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div formGroupName="parameters" class="form-group"
                                 *ngIf="paramsType.value=='json_path'">
                                <label>expression</label>
                                <input class="form-control" type="text" formControlName="expression">
                            </div>

                            <div formGroupName="parameters" *ngIf="paramsType.value=='list_to_object_list'">
                                <div class="form-group">
                                    <label>Key param</label>
                                    <input class="form-control" type="text" formControlName="keyName">
                                </div>
                                <div class="form-group">
                                    <label>Value params</label>
                                    <div formArrayName="valueNames">
                                        <div
                                                *ngFor="let valueName of myform.controls.filters.controls[i].controls.parameters.controls.valueNames.controls; let j=index">
                                            <div class="form-inline">
                                                <input class="form-control" type="text" [formControlName]="j">
                                                <button type="button" class="btn btn-default"
                                                        (click)="removeValueName(i,j);">X
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-default" (click)="addValueName(i);">
                                        Add value param
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-inline">
                <select class="form-control" #spy>
                    <option *ngFor="let fType of filterTypes" value="{{fType}}"> {{fType}}
                    </option>
                </select>
                <button type="button" class="btn btn-default" (click)="addFilter(spy.value);">
                    Add Filter
                </button>
            </div>
            <br>
            <div formArrayName="mappers">
                <label>Mappers</label>
                <div *ngFor="let mapper of myform.controls.mappers.controls; let i=index">
                    <div class="panel panel-default" formGroupName="{{i}}">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>From</label>
                                <input class="form-control" type="text" formControlName="from">
                            </div>
                            <div class="form-group">
                                <label>To</label>
                                <input class="form-control" type="text" formControlName="to">
                            </div>
                            <div class="form-group">
                                <label>Default</label>
                                <input class="form-control" type="text" formControlName="def">
                            </div>
                            <div class="form-inline">
                                <select class="form-control">
                                    <option *ngFor="let fType of filterTypes" value="{{fType}}"> {{fType}}
                                    </option>
                                </select>
                                <button type="button" class="btn btn-default" (click)="addFilterToMapper();">
                                    Add filter to mapper
                                </button>
                                <button type="button" class="btn btn-default float-right"
                                        (click)="removeMapper(i);">X
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-default" (click)="addMapper();">
                Add Mapper
            </button>

        </form>

        <pre>{{myform.value | json}}</pre>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onConfirm()">Save</button>
    </div>
</div>