<div class="myTravel-page">
    <div class="background-image"></div>          
    <div class="ph">
                <img class="img" src="http://upload.akusherstvo.ru/image1482617.jpg">
                <div class="title">TRAVEL PLANNER</div>
    <nav class="fixed-nav-bar">  
            <ul id="navbar">               
                    <li><a>{{login}} <span class="glyphicon glyphicon-menu-down"></span></a> 
                      <ul>
                        <li><a routerLink="/profile" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Мой профиль</a></li>
                        <li><a routerLink="/myTravels" routerLinkActive="active"><span class="glyphicon glyphicon-picture"></span> История путешествий</a></li>                    
                        
                        <li><a routerLink="/questions" routerLinkActive="active"><span class="glyphicon glyphicon-plane"></span> Мое путешествие</a></li>
                        <hr>
                        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>                    
                      </ul>   
                    </li>              
                                                
            </ul>
    </nav>
    </div>
</div>