@import url(https://allfont.ru/allfont.css?fonts=pt-sans-caption);
* {
  font-family: 'PT Sans Caption', arial; 
}


.background-image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:-2;
  }