<div class="page-header">
    <h1 align="center"> Планировщик путешествий </h1>   
</div>

<div class="">
    <div align="center" class="form-inline">           
        <div class="form-group">           
             <button class="btn btn-lg center-block" routerLink="./login" routerLinkActive="active">Попробовать планировщик!</button>                                     
           <br>
        </div>
    </div>


        <div class="row">
             <div class="col-md-6">
            <div class="form-block">
                
                <ol class="list">
                    <li>Вы любите все тщательно планировать?
                        <ol class="sublist">
                            <li>выберите город для путешествия из списка</li>
                            <li>выберите подходящие билеты</li>
                            <li>подберите место проживания</li>
                            <li>укажите бюджет вашей поездки</li>
                        </ol>
                    </li>

                    <li>Не любите готовиться к поездкам?
                        <ol class="sublist">
                            <li>посмотрите популярные направления</li>
                            <li>составьте свое путешествие всего за 10 минут</li>
                        </ol>
                    </li>

                    <li>Хотите что-нибудь интересное?
                        <ol class="sublist">
                            <li>посмотрите подборку самых популярных экскурсий</li>
                            <li>арендуйте авто чтобы успеть посмотреть все</li>
                        </ol>
                    </li>
                </ol>
            
            
            </div>
        </div>
            <div class="col-md-6">
                    <div class="row">
                            <div class="col-md-6"><img src="https://cheapcampers.nl/image_upload/camper_hire/14470586281317259886.jpg" width="240" height="150" vspace="40" alt="image"/> </div>
                            <div class="col-md-6"><img src="http://mir-prekrasen.net/uploads/posts/2017-01/1483784174_new-city-adventure.jpg" width="240" height="150" vspace="40" alt="image"/> </div>
                    </div>
            <div class="form-block1">
                <h1>Турция</h1><p>Майские праздники в Турции – это уютный отдых в стране, которую мы привыкли шутя называть «турецкой дачей». Качественные отели с прекрасной анимацией, отличный олл-инклюзив, солнечные пляжи с великолепной инфраструктурой и начало купального сезона – Турция рада снова увидеть вас!</p>
                <h1>Испания</h1><p>Лучшие курорты Каталонии и Балеарских островов ждут гостей на майские выходные. Яркое солнце, прекрасное настроение, весенние шествия, улицы, украшенные цветами, посиделки в открытых кафе и долгие вечерние прогулки в теплой атмосфере праздника. Любители ночной жизни оценят весенний драйв дискотек и ночных клубов, где до самого рассвета царит веселье.</p>
                <h1>Греция</h1><p>Крит и Родос откроют вам всю свою красоту: маленькие белые дома, залитые солнечным светом, цветущие деревья, первые арбузы и свежевыжатый апельсиновый сок, море, которое успело прогреться и манит окунуться в легкую волну, прогулки по цветущим садам и долгие экскурсии без изнурительной жары. Откройте отпускной сезон в Греции длительной визой!</p>
        
            </div>
        </div>
    </div>
    <div class="background-image"> </div>
</div>