<div class="profile-page">
        <div class="background-image"></div>          
        <div class="ph">
                    <img class="img" src="http://upload.akusherstvo.ru/image1482617.jpg">
                    <div class="title">TRAVEL PLANNER</div>
        <nav class="fixed-nav-bar">  
                <ul id="navbar">               
                        <li><a>{{login}} <span class="glyphicon glyphicon-menu-down"></span></a> 
                          <ul>
                            <li><a routerLink="/profile" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Мой профиль</a></li>
                            <li><a routerLink="/myTravels" routerLinkActive="active"><span class="glyphicon glyphicon-picture"></span> История путешествий</a></li>                     -->
                            
                            <li><a routerLink="/questions" routerLinkActive="active"><span class="glyphicon glyphicon-plane"></span> Мое путешествие</a></li>
                            <hr>
                            <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>                    
                          </ul>   
                        </li>              
                                                    
                </ul>
        </nav>
        </div>
           
        <div class = "form-block">
        <div *ngIf="result == false">  
       <form class="contact_form" #myForm="ngForm" method="post" name="contact_form" novalidate>               
                 <ul>
                          <li>
                                <label for="firstName">
                                        Имя:                               
                                </label>
                                <input type="text" [(ngModel)]="user.firstName" #firstName="ngModel" name="firstName" required pattern="[A-ZА-Я][a-zа-я]+"/>                                
                                 <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger" id="hid">
                                        Некорректный ввод имени
                                </div>
                          </li>
                          <li>
                                <label for="lastName">                                        
                                        Фамилия: 
                                </label>
                                <input type="text" [(ngModel)]="user.lastName" #lastName="ngModel"  name="lastName" required pattern="[A-ZА-Я][a-zа-я]+"/>
                                <div [hidden]="lastName.valid || lastName.untouched" class="alert alert-danger" id="hid">
                                        Некорректный ввод фамилии
                                </div>
                          </li>
                          <li>
                                        <label for="age">                                        
                                                Возраст:                                
                                        </label>
                                        <input type="text" [(ngModel)]="user.age" #age="ngModel"  name="age" required  pattern="[0-9]*"/>
                                       <div [hidden]="age.valid || age.untouched" class="alert alert-danger" id="hid">
                                                Некорректный ввод возраста
                                      </div>
                                </li>
                           <li>
                                <label for="countryId">
                                        Страна проживания:                                
                                </label>
                                <!-- <input type="text" [(ngModel)]="user.countryName" #countryName="ngModel"  name="countryName" required  pattern="[A-Z][a-z]+"/> -->
                                <div class="drop_down_country">
                                        <select [(ngModel)]="user.countryId" #countryId="ngModel"  name="countryId" (change)="getCityArray(user.countryId)">
                                               <option value="{{key}}" *ngFor="let key of countryArray" >{{countryList[key]}}</option>
                                        </select><br>
                                </div>
                          </li>
                           <li>
                                <label for="cityId">                                        
                                        Город проживания:                                
                                </label>
                                
                              <div class="drop_down_country">                                       
                                <!-- <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="user.city" #city="ngModel"  name="city" [ngbTypeahead]="search(user.country, user.city)" />                                -->
                                <select [disabled]="countryId.pristine" [(ngModel)]="user.cityId" #cityId="ngModel"  name="cityId">
                                        <option value="{{key}}" *ngFor="let key of cityArray">{{cityList[key]}}</option>
                                 </select><br>
                                </div>
                          </li>
                          
                             <button [disabled]="myForm.invalid" class="submit" (click)="onSubmit(user)">Сохранить</button> 
                </ul>
            </form>
            </div>
            <div *ngIf="result == true">
                        <div align="center" class="form-inline">
                        <table>
                                <tr>
                                 <th>Вопрос</th>
                                 <th>Ответ</th>
                                </tr>
                                <tr>
                                 <td>Имя</td>
                                 <td>{{user.firstName}}</td>
                                 </tr>
                                 <tr>
                                 <td>Фамилия</td>
                                 <td>{{user.lastName}}</td>
                               </tr>
                               <tr>
                                 <td>Возраст</td>
                                 <td>{{user.age}}</td>
                                </tr>
                                <tr>
                                  <td>Страна проживания</td>
                                   <td>{{user.countryName}}</td>
                                </tr>
                                <tr>
                                  <td>Город проживания</td>
                                  <td>{{user.cityName}}</td>
                                </tr>
                        </table>
                        </div>
                        <button class="submit" (click)="edit(user)">Редактировать</button> 
                        
                    </div>
            </div>
    </div>