<div class="user-page">
    <!-- <div class="background-image" style="background-image : url(https://preview.ibb.co/c48LfH/james_donaldson_365418_unsplash.jpg)"></div>       -->
    <div class="background-image">
    <div class="ph">
            <img class="img" src="http://upload.akusherstvo.ru/image1482617.jpg">
            <div class="title">ПЛАНИРОВЩИК ПУТЕШЕСТВИЙ</div>
    <nav class="fixed-nav-bar">  
            <ul id="navbar">               
                    <li><a>{{login}} <span class="glyphicon glyphicon-menu-down"></span></a> 
                      <ul>
                        <li><a routerLink="/profile" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Мой профиль</a></li>
                        <!-- <li><a href="#"><span class="glyphicon glyphicon-picture"></span> История путешествий</a></li>                     -->
                        <li><a routerLink="/notepad" routerLinkActive="active"><span class="glyphicon glyphicon-list-alt"></span> Блокнот</a></li>
                        <li><a routerLink="/questions" routerLinkActive="active"><span class="glyphicon glyphicon-plane"></span> Мое путешествие</a></li>
                        <hr>
                        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>                    
                      </ul>   
                    </li>              
                                               
            </ul>
    </nav>
    </div> 
    <div class="main-page">
    <div class="container">    
    <div class = "form-block">
        <div class="form-group" >  
            <!-- <hr> -->
            <div align="center" class="form-inline">
                    <div>                  
                        <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(0,0,0,0)', backdropBorderRadius: '10px',
                        primaryColour: 'rgb(161, 160, 160)', secondaryColour: 'rgb(161, 160, 160)', tertiaryColour: 'rgb(161, 160, 160)' }"></ngx-loading>      
                            <div *ngIf="result == false">
                                
                                    <form [hidden]="loading" #f="ngForm" #elseBlock (ngSubmit)="onSubmit(f)" #myForm="ngForm" novalidate>
            
                                        <div *ngFor="let question of questions"
                                            [ngSwitch]="question.type"> 
                                    
                                        <p *ngSwitchCase="'title'">
                                            {{question.data}}<br>
                                        </p>
                                        <p *ngSwitchCase="'dropdown_list'">
                                            <select name="{{question.id}}" ngModel>
                                               <option value="{{key}}" *ngFor="let key of objectKeys(question.data)">{{question.data[key]}}</option>
                                            </select><br>
                                        </p>
            <!-- ************************************************************************ -->
                                      <!--  <div class="checkbox-block">
                                        <p *ngSwitchCase="'checkbox'">                                
                                            <input  type="checkbox" (change)="putCheckId(question.id)"/><span>{{question.data}}</span><br>                                
                                        </p>
                                        </div>-->

                                        <div class="row">
                                            <div class="col-xs-12">
                                            <div class="checkbox-block-fa">
                                                <div *ngSwitchCase="'checkbox'">
                                                    <div class="btn-group btn-group-vertical">
                                                        <label class="btn">
                                                            <input type="checkbox"(change)="putCheckId(question.id)"/><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span> {{question.data}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
            
                                       <!-- <div class="radiobutton-block">
                                            <p *ngSwitchCase="'radiobox'">                                
                                                <input type="radio" name="radio" value="{{question.id}}" ngModel /><span>{{question.data}}</span><br>                                
                                            </p>
                                        </div>-->
                                        
                                        <div class="row">
                                            <div class="col-xs-12">
                                            <div class="radiobox-block-fa">
                                                <div *ngSwitchCase="'radiobox'">
                                                    <div class="btn-group btn-group-vertical">
                                                         <label class="btn">
                                                            <input type="radio" name="radio" value="{{question.id}}" ngModel />
                                                                <i class="fa fa-circle-o fa-2x"></i>
                                                                <i class="fa fa-dot-circle-o fa-2x"></i> <span> {{question.data}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        

            <!-- ************************************************************************ -->
                                        <div *ngSwitchCase="'text_input'">
                                            <div *ngIf="question.id == 'textbox1.textinput-numberOfPersons-action'">
                                                <input type="text" name="{{question.id}}" #text="ngModel" ngModel required pattern="[0-9]+"/>
                                                <div [hidden]="myForm.valid || text.untouched" class="alert alert-danger" id="hid">
                                                    Некорректный ввод 
                                                </div>
                                            </div>
                                            <div *ngIf="question.id == 'textbox1.textinput-nameOfTravel-action'">
                                                    <input type="text" name="{{question.id}}" ngModel required/>
                                            </div>
                                        </div>
            
                                        <p *ngSwitchCase="'date_picker'">
                                            <input type="date" name="{{question.id}}" [min]="today" onkeydown="return false" ngModel required/>                                                                                      
                                        </p>

                                        
                                        <div class="table-block">                                        
                                        <div *ngSwitchCase="'table_picker'"> 
                                            <div class="btn-group btn-group-toggle" >                                          
                                            <div *ngFor="let item of question.data.rows">                                               
                                                <label class="btn">
                                                    <input type="radio" name="{{question.id}}" value="{{item.columns[0].value}}" ngModel/>                                            
                                                    <table>
                                                    <tr *ngFor="let defs of question.data.columnDefs.columns; let i = index">                                       
                                                        <td>{{defs.value}}</td>                                      
                                                        <td *ngIf="isLink(question.data, defs.name); else elseTextBlock"><a href="{{item.columns[i+1].value}}" target="_blank">Перейти</a></td>  
                                                        <ng-template #elseTextBlock>{{item.columns[i+1].value}}</ng-template>            
                                                    </tr> 
                                                    </table>
                                                </label> 
                                                </div>
                                                <!-- <br>  --> 
                                            </div>
                                        </div>                                         
                                        
                                        </div>

                                        <p *ngSwitchDefault> 
                                            {{question}}
                                        </p>
                                        </div>        
                                        <input class="next" type="button" (click)="onRollback()" value="Назад"/>            
                                        <input [disabled]="myForm.invalid" class="next" type="submit" (click)="onSubmit()" value="Далее"/>                                       
                                    </form> 
                                    </div>        
                        <div *ngIf="result == true">
                            <div class="result-table-block">
                            <table>
                                    <tr>
                                     <th>Вопрос</th>
                                     <th>Ответ</th>
                                    </tr>
                                    <tr>
                                    <td>Название путешествия</td>
                                    <td>{{questions.travelName}}</td>
                                    </tr>
                                    <tr>
                                     <td>Страна отправления</td>
                                     <td>{{questions.from.countryName}}</td>
                                     </tr>
                                     <tr>
                                     <td>Город отправления</td>
                                     <td>{{questions.from.cityName}}</td>
                                     </tr>
                                     <tr>
                                     <td>Страна назначения</td>
                                     <td>{{questions.to.countryName}}</td>
                                     </tr>
                                     <tr>
                                     <td>Город назначения</td>
                                     <td>{{questions.to.cityName}}</td>
                                     </tr>
                                     <tr>
                                     <td>Бюджет</td>
                                     <td>{{questions.budget.name}}</td>
                                     </tr>
                                     <tr>
                                     <td>Дата отъезда</td>
                                     <td>{{questions.dateIntervalStart}}</td>
                                     </tr>
                                     <tr>
                                     <td>Дата приезда</td>
                                     <td>{{questions.dateIntervalEnd}}</td>
                                     </tr>
                                     <tr>
                                     <td>Экскурсии</td>
                                     <td>{{questions.excursion.name}}</td>
                                     </tr>
                            </table>
                            <div class="googlemap">
                                <agm-map
                                        [latitude]="55.41030689999999"
                                        [longitude]="37.90245129999994"
                                        [zoom]="2">
                                    <div class="markers" *ngFor="let i of locations">
                                        <agm-marker
                                                [latitude]="i.lat"
                                                [longitude]="i.lng"></agm-marker>
                                    </div>
                                    <agm-polyline>
                                        <ng-container *ngFor="let i of locations">
                                            <agm-polyline-point
                                                    [latitude]="i.lat"
                                                    [longitude]="i.lng"></agm-polyline-point>
                                        </ng-container>
                                    </agm-polyline>
                                </agm-map>
                            </div>
                            <input class="next" type="button" (click)="onReset()" value="Новое путешествие"/>
                            </div>
                        </div>
                    </div>
            </div>
            <br>
            <br>
            <!-- <hr> -->
        </div>
        </div>
        </div>
        </div>
    </div>
</div>
    
    