<div class="user-page">
    <!-- <div class="background-image" style="background-image : url(https://preview.ibb.co/c48LfH/james_donaldson_365418_unsplash.jpg)"></div>       -->
    <div class="background-image">
    <div class="ph">
            <img class="img" src="http://upload.akusherstvo.ru/image1482617.jpg">
            <div class="title">TRAVEL PLANNER</div>
    <nav class="fixed-nav-bar">  
            <ul id="navbar">               
                    <li><a>{{login}} <span class="glyphicon glyphicon-menu-down"></span></a> 
                      <ul>
                        <li><a routerLink="/profile" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Мой профиль</a></li>
                        <li><a routerLink="/myTravels" routerLinkActive="active"><span class="glyphicon glyphicon-picture"></span> История путешествий</a></li>
                       
                        <li><a routerLink="/questions" routerLinkActive="active"><span class="glyphicon glyphicon-plane"></span> Мое путешествие</a></li>
                        <hr>
                        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>                    
                      </ul>   
                    </li>              
                                               
            </ul>
    </nav>
    </div> 
    <div class="main-page">
    <div class="container">    
    <div class = "form-block">
        <div class="form-group" >  
            <!-- <hr> -->
            <div align="center" class="form-inline">
                    <div>                  
                    <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(0,0,0,0)', backdropBorderRadius: '10px',
                        primaryColour: 'rgb(161, 160, 160)', secondaryColour: 'rgb(161, 160, 160)', tertiaryColour: 'rgb(161, 160, 160)' }">
                    </ngx-loading>      
                            <div *ngIf="result == false">                                
                                    <form [hidden]="loading" #f="ngForm" #elseBlock (ngSubmit)="onSubmit(f)" #myForm="ngForm" novalidate>
            
                                        <div *ngFor="let question of questions"
                                            [ngSwitch]="question.type"> 
                                    
                                        <p *ngSwitchCase="'title'">
                                            {{question.data}}<br>
                                        </p>
                                        <div *ngSwitchCase="'dropdown_list'">
                                            <div *ngIf="question.id == 'dropdownlist1.dropdownlist-departure-country-action-dropdown-list'">
                                                <select name="{{question.id}}" #select [(ngModel)]="question.data[departureCountryId] == null ? objectKeys(question.data)[0] : departureCountryId" ngModel>                                                                                                 
                                                       <option value="{{key}}" *ngFor="let key of objectKeys(question.data)" >{{question.data[key]}}</option>
                                                   </select><br>                                             
                                                </div>
                                                <div *ngIf="question.id == 'dropdownlist1.dropdownlist-departure-city-action-dropdown-list'">
                                                       <select name="{{question.id}}" #select [(ngModel)]="question.data[departureCityId] == null ? objectKeys(question.data)[0] : departureCityId" ngModel>
                                                           <option value="{{key}}" *ngFor="let key of objectKeys(question.data)">{{question.data[key]}}</option>
                                                       </select><br>
                                               </div>
                                               <div *ngIf="question.id == 'dropdownlist1.dropdownlist-countries-action-dropdown-list'">
                                                       <select name="{{question.id}}" #select [(ngModel)]="question.data[destinationCountryId] == null ? objectKeys(question.data)[0] : destinationCountryId" ngModel>
                                                           <option value="{{key}}" *ngFor="let key of objectKeys(question.data)">{{question.data[key]}}</option>
                                                       </select><br>
                                               </div>
                                               <div *ngIf="question.id == 'dropdownlist1.dropdownlist-citiesByCountryId-action-dropdown-list'">
                                                       <select name="{{question.id}}" #select [(ngModel)]="question.data[destinationCityId] == null ? objectKeys(question.data)[0] : destinationCityId" ngModel>
                                                           <option value="{{key}}" *ngFor="let key of objectKeys(question.data)">{{question.data[key]}}</option>
                                                       </select><br>
                                               </div>
                                               <div *ngIf="question.id != 'dropdownlist1.dropdownlist-departure-country-action-dropdown-list' &&
                                                           question.id != 'dropdownlist1.dropdownlist-departure-city-action-dropdown-list' &&
                                                           question.id != 'dropdownlist1.dropdownlist-countries-action-dropdown-list' &&
                                                           question.id != 'dropdownlist1.dropdownlist-citiesByCountryId-action-dropdown-list'">
                                                       <select name="{{question.id}}" #select [(ngModel)]="objectKeys(question.data)[0]" ngModel>
                                                           <option value="{{key}}" *ngFor="let key of objectKeys(question.data)">{{question.data[key]}}</option>
                                                       </select><br>
                                               </div>
                                        </div>
            <!-- ************************************************************************ -->                                     

                                        <div class="row">
                                            <div class="col-xs-12">
                                            <div class="checkbox-block-fa">
                                                <div *ngSwitchCase="'checkbox'">
                                                    <div class="btn-group btn-group-vertical">
                                                        <label class="btn">
                                                            <input type="checkbox" (change)="putCheckId(question.id)"/><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span> {{question.data}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>           
                                    
                                        
                                        <div class="row">
                                            <div class="col-xs-12">
                                            <div class="radiobox-block-fa">
                                                <div *ngSwitchCase="'radiobox'">
                                                    <div class="btn-group btn-group-vertical">
                                                         <label class="btn">
                                                            <input type="radio" name="radio" value="{{question.id}}" ngModel />
                                                                <i class="fa fa-circle-o fa-2x"></i>
                                                                <i class="fa fa-dot-circle-o fa-2x"></i> <span> {{question.data}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        

            <!-- ************************************************************************ -->
                                        <div *ngSwitchCase="'text_input'">
                                            <div *ngIf="question.id == 'textbox1.textinput-numberOfPersons-action'">
                                                <input type="text" name="{{question.id}}" #text="ngModel" [(ngModel)]="numValue" ngModel required pattern="[1-8]" />
                                                <div [hidden]="myForm.valid || text.untouched" class="alert alert-danger" id="hid">
                                                    Некорректный ввод 
                                                </div>
                                            </div>
                                            <div *ngIf="question.id == 'textbox1.textinput-nameOfTravel-action'">
                                                    <input type="text" name="{{question.id}}" [(ngModel)]="textValue" ngModel required/>
                                            </div>
                                        </div>
            
                                        <div *ngSwitchCase="'date_picker'">
                                            <div *ngIf="question.id == 'datepicker.1.dateIntervalInput-travelPeriod-action'">
                                                <input type="date" name="{{question.id}}" [min]="startDate" onkeydown="return false" [(ngModel)] ="defaultStartDate" ngModel required/>
                                            </div>
                                            <div *ngIf="question.id == 'datepicker.2.dateIntervalInput-travelPeriod-action'">
                                                    <input type="date" name="{{question.id}}" [min]="endDate" onkeydown="return false" [(ngModel)] ="defaultEndDate" ngModel required/>
                                            </div>

                                        </div>

                                        
                                        <div class="table-block">                                        
                                        <div *ngSwitchCase="'table_picker'"> 
                                            <div *ngIf="question.id == 'table.1.coast-of-living-action-Table'">
                                                <div class="costOfLiving">                                          
                                                        <div *ngFor="let item of pagedItems">                                                                
                                                                <table> 
                                                                    <caption>{{item.columns[1].value}}</caption>                                                                      
                                                                <tr *ngFor="let defs of question.data.columnDefs.columns; let i = index">                                                                                                                                                                          
                                                                    <td>{{defs.value}}</td>                                      
                                                                    <td *ngIf="isLink(question.data, defs.name); else elseTextBlock"><a href="{{item.columns[i+2].value}}" target="_blank">Перейти</a></td>  
                                                                    <ng-template #elseTextBlock><td>{{item.columns[i+2].value}}</td></ng-template>            
                                                                </tr> 
                                                                </table>
                                                        </div>
                                            <!-- pager -->
                                                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                            <a (click)="setPage(1)">Начало</a>
                                                        </li>
                                                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                            <a (click)="setPage(pager.currentPage - 1)">Назад</a>
                                                        </li>
                                                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                                            <a (click)="setPage(page)">{{page}}</a>
                                                        </li>
                                                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                            <a (click)="setPage(pager.currentPage + 1)">Вперед</a>
                                                        </li>
                                                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                            <a (click)="setPage(pager.totalPages)">Конец</a>
                                                        </li>
                                                    </ul>
                                                    </div>
                                            </div>
                                            <div *ngIf="question.data.multiPick == true">
                                                <div class="multiSelection">
                                                    <div class="btn-group btn-group-toggle" >                                          
                                                            <div *ngFor="let item of pagedItems">                                               
                                                                <label class="btn">
                                                                    <input type="checkbox" (change)="putCheckId(item.columns[0].value)"/>                                            
                                                                    <table>
                                                                    <tr *ngFor="let defs of question.data.columnDefs.columns; let i = index">                                       
                                                                        <td>{{defs.value}}</td>                                      
                                                                        <td *ngIf="isLink(question.data, defs.name); else elseTextBlock"><a href="{{item.columns[i+1].value}}" target="_blank">Перейти</a></td>  
                                                                        <ng-template #elseTextBlock><td>{{item.columns[i+1].value}}</td></ng-template>            
                                                                    </tr> 
                                                                    </table>
                                                                </label> 
                                                            </div>
                                                                <!-- pager -->
                                                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                            <a (click)="setPage(1)">Начало</a>
                                                        </li>
                                                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                            <a (click)="setPage(pager.currentPage - 1)">Назад</a>
                                                        </li>
                                                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                                            <a (click)="setPage(page)">{{page}}</a>
                                                        </li>
                                                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                            <a (click)="setPage(pager.currentPage + 1)">Вперед</a>
                                                        </li>
                                                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                            <a (click)="setPage(pager.totalPages)">Конец</a>
                                                        </li>
                                                    </ul>
                                                    </div>
                                                    </div>
                                            </div>
                                            <div *ngIf="question.data.multiPick == false">
                                                <div *ngIf="question.id == 'table.1.radioButton-typeOfTransport-action-NEW-TABLE'; else elseTableBlock">
                                                        <div class="multiSelection">
                                                            <div class="btn-group btn-group-toggle" >                                          
                                                            <div *ngFor="let item of pagedItems; let i = index">                                                                                                             
                                                                <label class="btn">
                                                                    <input type="radio" name="{{question.id}}" value="{{item.columns[0].value}}" ngModel/>  
                                                                    <table>
                                                                            <tr *ngFor="let defs of question.data.columnDefs[i].columns; let j = index">                                       
                                                                                <td *ngIf="defs.value == null; else elseDefsBlock" class="separator"></td>
                                                                                <ng-template #elseDefsBlock>
                                                                                    <td>{{defs.value}}</td>
                                                                                </ng-template>                                      
                                                                                <td *ngIf="isLink(question.data, defs.name); else elseTextBlock">
                                                                                    <a href="{{item.columns[j+1].value}}" target="_blank">Перейти</a>
                                                                                </td>  
                                                                                <ng-template #elseTextBlock>
                                                                                    <td *ngIf="item.columns[j+1].value == null; else elseColumnBlock" class="separator"></td>
                                                                                    <ng-template #elseColumnBlock><td>{{item.columns[j+1].value}}</td></ng-template>
                                                                                </ng-template>            
                                                                            </tr> 
                                                                        </table>                                                                                                                             
                                                                </label> 
                                                            </div>
                                                                       <!-- pager -->
                                                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                                    <a (click)="setPage(1)">Начало</a>
                                                                </li>
                                                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                                    <a (click)="setPage(pager.currentPage - 1)">Назад</a>
                                                                </li>
                                                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                                                    <a (click)="setPage(page)">{{page}}</a>
                                                                </li>
                                                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                                    <a (click)="setPage(pager.currentPage + 1)">Вперед</a>
                                                                </li>
                                                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                                    <a (click)="setPage(pager.totalPages)">Конец</a>
                                                                </li>
                                                            </ul>
                                                            </div>
                                                        </div>
                                                </div>
                                            <ng-template #elseTableBlock>
                                            <div class="multiSelection">
                                                <div class="btn-group btn-group-toggle" >                                          
                                                    <div *ngFor="let item of pagedItems">                                               
                                                        <label class="btn">
                                                            <input type="radio" name="{{question.id}}" value="{{item.columns[0].value}}" ngModel/>                                            
                                                            <table>
                                                                <tr *ngFor="let defs of question.data.columnDefs.columns; let i = index">                                       
                                                                    <td>{{defs.value}}</td>                                      
                                                                    <td *ngIf="isLink(question.data, defs.name); else elseTextBlock"><a href="{{item.columns[i+1].value}}" target="_blank">Перейти</a></td>  
                                                                    <ng-template #elseTextBlock><td>{{item.columns[i+1].value}}</td></ng-template>            
                                                                </tr> 
                                                            </table>
                                                        </label> 
                                                    </div>
                                               <!-- pager -->
                                               <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                    <a (click)="setPage(1)">Начало</a>
                                                </li>
                                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                    <a (click)="setPage(pager.currentPage - 1)">Назад</a>
                                                </li>
                                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                                    <a (click)="setPage(page)">{{page}}</a>
                                                </li>
                                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                    <a (click)="setPage(pager.currentPage + 1)">Вперед</a>
                                                </li>
                                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                    <a (click)="setPage(pager.totalPages)">Конец</a>
                                                </li>
                                            </ul>
                                            </div>
                                            </div>
                                            </ng-template>  
                                            </div>
                                        </div>                                         
                                        
                                        </div>

                                        <p *ngSwitchDefault> 
                                            {{question}}
                                        </p>
                                        </div>        
                                        <input class="next" type="button" (click)="onRollback()" value="Назад"/>            
                                        <input [disabled]="myForm.invalid" class="next" type="submit" (click)="onSubmit()" value="Далее"/>                                       
                                    </form> 
                                    </div>        
                        <div *ngIf="result == true">
                            <div class="result-table-block">                               
                            <table>
                                    <caption>Общая информация</caption>
                                    <tr>
                                    <td>Название путешествия</td>
                                    <td>{{questions.name}}</td>
                                    </tr>
                                    <tr>
                                     <td>Страна отправления</td>
                                     <td>{{questions.fromCheckpoint.countryName}}</td>
                                     </tr>
                                     <tr>
                                     <td>Город отправления</td>
                                     <td>{{questions.fromCheckpoint.cityName}}</td>
                                     </tr>
                                     <tr>
                                     <td>Страна назначения</td>
                                     <td>{{questions.toCheckpoint.countryName}}</td>
                                     </tr>
                                     <tr>
                                     <td>Город назначения</td>
                                     <td>{{questions.toCheckpoint.cityName}}</td>
                                     </tr>                                     
                                     <tr>
                                     <td>Дата отъезда</td>
                                     <td>{{questions.dateStart}}</td>
                                     </tr>
                                     <tr>
                                     <td>Дата приезда</td>
                                     <td>{{questions.dateEnd}}</td>
                                     </tr>
                                     <tr>
                                        <td>Количество человек</td>
                                        <td>{{questions.numberOfPersons}}</td>
                                        </tr>
                                     <tr>
                                    <tr>
                                        <td>Бюджет</td>
                                        <td>{{questions.budgetType}}</td>
                                    </tr>
                                </table>
                                
                                <table>
                                    <caption>Проживание</caption>
                                    <tr>
                                        <td>Отель</td>
                                        <td>{{questions.hotel.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Адрес</td>
                                        <td>{{questions.hotel.address}}</td>
                                    </tr>                                                                      
                                    <tr>
                                    <tr>
                                        <td>Стоимость</td>
                                        <td>{{questions.hotel.price}}</td>
                                    </tr>
                                    <tr>
                                        <td>Период</td>
                                        <td>{{questions.hotel.pricePeriod}}</td>
                                    </tr>
                                    <tr>
                                        <td>Информация</td>
                                        <td>{{questions.hotel.priceInfo}}</td>
                                    </tr>
                                    <tr>
                                        <td>Просмотр</td>
                                        <td><a href="{{questions.hotel.booking}}" target="_blank">Перейти</a></td>  
                                    </tr>
                                </table>
                                
                                <table>
                                    <caption>Путь туда</caption>
                                <tr>                                                                                                                  
                                    <td>Самолет</td>
                                    <td>{{questions.twoWayFlight.flightTo.aircraft}}</td>
                                </tr>
                                <tr>                                                                                                                 
                                    <td>Авиакомпания</td>
                                    <td>{{questions.twoWayFlight.flightTo.companyName}}</td>
                                </tr>
                                <tr>                                                                                                                  
                                    <td>Аэропорт вылета</td>
                                    <td>{{questions.twoWayFlight.flightTo.departureName}}</td>
                                </tr>
                                <tr>                                                                                                                  
                                    <td>Аэропорт прилета</td>
                                    <td>{{questions.twoWayFlight.flightTo.arrivalName}}</td>
                                </tr>
                                <tr>                                                                                                                  
                                    <td>Класс обслуживания</td>
                                    <td>{{questions.twoWayFlight.flightTo.classType}}</td>
                                </tr>
                                <tr>                                                                                                                  
                                    <td>Дата вылета</td>
                                    <td>{{questions.twoWayFlight.flightTo.departureDate}}</td>
                                 </tr>
                                <tr>                                                                                                                  
                                    <td>Время вылета</td>
                                    <td>{{questions.twoWayFlight.flightTo.departureTime}}</td>
                                </tr>
                                <tr>                                                                                                                  
                                    <td>Время в пути</td>
                                    <td>{{questions.twoWayFlight.flightTo.timeInPath}}</td>
                                </tr>                                                                                                                                  
                               </table>
                              
                               <table>
                                    <caption>Путь обратно</caption>
                               <tr>                                                                                                                  
                                   <td>Самолет</td>
                                   <td>{{questions.twoWayFlight.flightFrom.aircraft}}</td>
                               </tr>
                               <tr>                                                                                                                  
                                   <td>Авиакомпания</td>
                                   <td>{{questions.twoWayFlight.flightFrom.companyName}}</td>
                               </tr>                               
                               <tr>                                                                                                                  
                                    <td>Аэропорт вылета</td>
                                    <td>{{questions.twoWayFlight.flightFrom.departureName}}</td>
                                </tr>
                                <tr>                                                                                                                  
                                    <td>Аэропорт прилета</td>
                                    <td>{{questions.twoWayFlight.flightFrom.arrivalName}}</td>
                                </tr>
                                <tr>                                                                                                                  
                                   <td>Класс обслуживания</td>
                                   <td>{{questions.twoWayFlight.flightFrom.classType}}</td>
                               </tr>
                               <tr>                                                                                                                  
                                   <td>Дата вылета</td>
                                   <td>{{questions.twoWayFlight.flightFrom.departureDate}}</td>
                                </tr>
                               <tr>                                                                                                                  
                                   <td>Время вылета</td>
                                   <td>{{questions.twoWayFlight.flightFrom.departureTime}}</td>
                               </tr>
                               <tr>                                                                                                                  
                                    <td>Время в пути</td>
                                    <td>{{questions.twoWayFlight.flightFrom.timeInPath}}</td>
                                </tr>                                                                                                                                                                
                              </table>
                                                    
                              <table>   
                                    <caption>Билеты</caption> 
                                  <tr>                                                                                                        
                                       <td>Общая стоимость</td>
                                       <td>{{questions.twoWayFlight.price}}</td>
                                  </tr>
                                  <tr>                                                                                                        
                                        <td>Просмотр</td>
                                        <td><a href="{{questions.twoWayFlight.booking}}" target="_blank">Перейти</a></td>  
                                   </tr>
                              </table> 
                            
                            <div *ngIf="questions.excursions != null">
                             <div *ngFor="let item of questions.excursions; let i = index">                 
                            <table>   
                                    <caption>Экскурсия №{{i+1}}</caption> 
                                <tr>                                                                                                        
                                     <td>Название</td>
                                     <td>{{item.name}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Описание</td>
                                    <td>{{item.description}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Цена</td>
                                    <td>{{item.price}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Продолжительность</td>
                                    <td>{{item.time}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Просмотр</td>
                                    <td><a href="{{item.booking}}" target="_blank">Перейти</a></td>  
                                </tr>                                                                                                    
                            </table>
                            </div>  
                        </div>   
                        <div *ngIf="questions.carRent != null">
                            <table>   
                                    <caption>Аренда автомобиля</caption> 
                                <tr>                                                                                                        
                                     <td>Марка авто</td>
                                     <td>{{questions.carRent.name}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Срок аренды</td>
                                    <td>{{questions.carRent.pricePeriod}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Стоимость</td>
                                    <td>{{questions.carRent.price}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Количество пассажиров</td>
                                    <td>{{questions.carRent.seats}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Количество дверей</td>
                                    <td>{{questions.carRent.doors}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Тип коробки передач</td>
                                    <td>{{questions.carRent.transmission}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Класс</td>
                                    <td>{{questions.carRent.classType}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Пробег</td>
                                    <td>{{questions.carRent.mileage}}</td>
                                </tr>
                                <tr>                                                                                                        
                                    <td>Просмотр</td>
                                    <td><a href="{{questions.carRent.booking}}" target="_blank">Перейти</a></td>  
                                </tr>
                            </table>
                        </div>                           
                            <div class="googlemap">
                                <agm-map
                                        [latitude]="defaultLat"
                                        [longitude]="defaultLng"
                                        [zoom]="2">
                                    <agm-marker
                                            *ngFor="let i of locations"
                                            [latitude]="i.lat"
                                            [longitude]="i.lng">
                                            <agm-info-window [disableAutoPan]="true">
                                                {{i.name}}
                                            </agm-info-window>
                                    </agm-marker>
                                    <agm-polyline>
                                        <agm-polyline-point
                                                *ngFor="let i of locations"
                                                [latitude]="i.lat"
                                                [longitude]="i.lng"></agm-polyline-point>
                                    </agm-polyline>
                                </agm-map>
                            </div>
                            <input class="newTravel" type="button" (click)="onReset()" value="Новое путешествие"/>
                            <input class="newTravel" type="button" [class.disabled]="!isSaveButtonEnabled()" [disabled]="!isSaveButtonEnabled()" (click)="onSave()" value="Сохранить"/>                                                     
                            <div *ngIf="!isSaveButtonEnabled()">
                                <input class="newTravel" type="button" (click)="printPDF()" value="Распечатать результат в формате PDF"/>
                            </div> 
                            </div>
                        </div>
                    </div>
            </div>
            <br>
            <br>
            <!-- <hr> -->
        </div>
        </div>
        </div>
        </div>
    </div>
</div>
    