@import url(http://allfont.ru/allfont.css?fonts=pt-sans-caption);
* {
  font-family: 'PT Sans Caption', arial; 
}

.glyphicon {
  font-family: 'Glyphicons Halflings';
}

#navbar ul{
    display: none;
    background-color: #4a537a;    
    top: 100%;   
    border-radius: 8px;  
    
  }
  #navbar li:hover ul { display: block; }
  #navbar, #navbar ul{
    margin: 0;
    padding: 0;
    margin-left: 0px;
    list-style-type: none;    
  }
  #navbar {
    height: 45px;
    background-color: #2a2a5e;
    padding-left: 35px;
    min-width: 470px;
  }
  #navbar li {
    float: right;
    margin-right: 40px;  
    width: 150px; 
    position: relative;
    height: 100%;
    list-style-type: none;
  }
  #navbar li a {
    display: block;
    margin-top: 6px;    
    margin-left: 10px;
    padding: 7px;     
    width: 140px;
    color: rgb(255, 255, 255);    
    text-decoration: none;
    text-align: left;
    cursor: pointer;    
  }
  #navbar ul li { float: none; }
 /* #navbar li:hover { background-color: #3a3a85; }*/
 
  #navbar ul li:hover { 
    background-color: #2a2a5e;     
    border-radius: 8px;

  }

  .ph {
    margin-top: -20px;
  }

  hr{   
    width: 125px;
    margin-top: 7px;
    margin-bottom: 0px;
  }
  

  .img {
    position:absolute;
    left:45px;
    top:2px;
    width: 40px; 
    height: 40px; 
    border-radius: 40px;
  }

  .title {
    position:absolute; 
    left:105px; 
    top:13px; 
    color: white; 
    letter-spacing: 1px
  }

  .next{
    border: 1px solid rgb(175, 175, 175);
  	background: #fff;
	  color: rgb(36, 36, 36);
   	border-radius: 5px;
    box-shadow:  2px 2px 0 rgb(175, 175, 175);
    width: 90px;
    height: 35px;
  }

  table {
   /* font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;*/
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
  }
  th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
  }
  td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
  }
  tr:hover td {background: #e8edff;}

  /*.background-image{
    position: absolute;  
   
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3990px;  
    z-index:-2;
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
  }
  */
  
  .background-image{ 
    background-image: url(http://www.picshare.ru/uploads/180316/HHmxiL86BP.jpg); 
    width: 100%; 
    height: 2100px; 
    background-repeat: no-repeat; 
    -webkit-background-size: 100%; 
    background-size: 100%; 
   
    }

  .form-block{
      
    border-radius: 20px;     
    background: rgba(255, 255, 255, 0.85);
    min-width: 500px;   
    min-height: 200px;
    top: 50%;
    margin-top: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
   
  }

  .form-group{   
    padding-top:45px;
   
  }

  .form-group hr{
    padding-top: 20px; 
    padding-bottom: 20px;       
  }  

  .checkbox-block p input[type="checkbox"]{
    vertical-align: middle;
    float: left;           
  }

  .checkbox-block p{
    margin-left: 20%;    
    margin-right: 20%;       
  }

  .checkbox-block p span{
    display: block;
    float: left;

  }

  .radiobutton-block p input[type="radio"]{
    vertical-align: middle;
    float: left;       
  }

  

  .radiobutton-block p{
    margin-left: 20%;    
    margin-right: 20%;   
   
  }

  .radiobutton-block p span{
    display: block;
    float: left;
    /* max-width: 600px; */
    
  }

  .table-block{
    margin-left: 20%;    
    margin-right: 20%;  
  }

  .table-block input[type="radio"]{
    /* margin-top:20%; */
    vertical-align: middle;
    float: left;       
  }

  .table-block table{
    min-width: 400px; 
   border-collapse:separate;
    border:solid #6678b1 1px;
    border-radius:7px;
    -moz-border-radius:7px;
  }

.table-block td:first-child {
     border-left: none;
}

  select {
    display: inline-block;
    height: 30px;
    width: 150px;
    outline: none;
    color: #6d6d6d;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #adacad;
    background: #fff;
  }

  


/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  
  color: #7d8283;
  height: 30px;
  width: 150px;
  font-size: 15px;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  padding:3px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #7d8283;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
  

#hid{
  font-size: small;  
  height:25px;
  padding-top: 2px;
  padding-bottom: 2px;  
  width: 175px;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
  display: none;
 }

 
label.btn span {
  font-size: 1.5em ;
}

.fa{
  font-family: 'FontAwesome';
}


label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}

label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}