<div class="page-header">
    <img class="img" src="http://upload.akusherstvo.ru/image1482617.jpg">
    <div class="title">TRAVEL PLANNER</div>
    <nav class="fixed-nav-bar">
        <ul id="navbar">
            <li><a>{{login}} <span class="glyphicon glyphicon-menu-down"></span></a>
                <ul>
                    <hr>
                    <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div class="row" style=" margin-top: 10px; margin-left: 30px; margin-right: 50px">

    <div class="col-xs-3 col-md-3"  style="  height:100%;margin-top: 30px; background: rgba(255, 255, 255, .5)">
        <ul class="list-group list-unstyled">
            <a [routerLink]="['/config']" class="list-group-item" style="background: #f7f8f9; margin-top: 10px" ><li><span class="glyphicon glyphicon-dashboard" style="cursor: pointer;"></span><span style="cursor: pointer"> type Action</span></li></a>
            <a class="list-group-item"style="background: rgba(255, 255, 255, .5)"><li><span class="glyphicon glyphicon-dashboard" style="cursor: pointer"></span><span style="cursor: pointer"> type DataProducer</span></li></a>
            <a [routerLink]="['/sourse']"class="list-group-item"style="background: #f7f8f9"><li><span class="glyphicon glyphicon-dashboard" style="cursor: pointer"></span><span style="cursor: pointer"> type Source</span></li></a>
            <hr>
            <a [routerLink]="['/admin']" class="list-group-item"style="background: #f7f8f9"><li><span class="glyphicon glyphicon-home" style="cursor: pointer"></span><span style="cursor: pointer"> Назад</span></li></a>
        </ul>
    </div>

    <div class="col-xs-9 col-md-9">
        <div class="row" style="margin-left: 30px">
            <h2>Список конфигураций</h2>
            <input type="button" value="Добавить" class="btn btn-default" (click)="openModalNew()" />
            <div class="span3" style="margin-top: 10px">
                <style type="text/css">
                    TABLE {
                        table-layout: fixed; /* Ячейки фиксированной ширины */
                    }
                </style>

                <table class="table table-responsive table-hover table-condensed">
                    <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(0,0,0,0)', backdropBorderRadius: '10px',
                        primaryColour: 'rgb(161, 160, 160)', secondaryColour: 'rgb(161, 160, 160)', tertiaryColour: 'rgb(161, 160, 160)' }">
                    </ngx-loading>

                    <thead>
                    <tr>
                        <td width="15%"> Name</td>
                        <td width="21%"> Filters</td>
                        <td width="27%"> Mappers</td>
                        <td width="15%"> SourceName</td>
                        <td width="11%"> </td>
                        <td width="11%"> </td>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let action of actions">
                        <ng-template [ngTemplateOutletContext]="{ $implicit: action}"
                                     [ngTemplateOutlet]="loadTemplate(action)">
                        </ng-template>
                    </tr>
                    </tbody>
                </table>


                <!--шаблон для чтения-->
                <ng-template #readOnlyTemplate let-action>
                    <td>{{action.name}}</td>
                    <td>{{action.filters | json}}</td>
                    <td>{{action.mappers | json}}</td>
                    <td>{{action.source}}</td>
                    <td>
                        <input type="button" value="Изменить" class="btn btn-default" (click)="editAction(action)" />
                    </td>
                    <td>
                        <input type="button" value="Удалить" (click)="deleteAction(action)" class="btn btn-default" />
                    </td>

                </ng-template>

                <!--шаблон для редактирования-->
                <ng-template #editTemplate>
                    <td>
                        <input type="text" [(ngModel)]="editedAction.name"  class="form-control" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="editedAction.filters"  class="form-control" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="editedAction.mappers" class="form-control" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="editedAction.source" class="form-control" />
                    </td>
                    <td>
                        <input type="button" value="Сохранить" (click)="saveAction()" class="btn btn-default" />
                    </td>
                    <td>
                        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-default" />
                    </td>

                </ng-template>

            </div>
        </div>

    </div>

    <div class="background-image" style="background-image : url('http://upload.akusherstvo.ru/image1458482.jpg')"> </div>
</div>

